# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [41]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
 
# Import Google API key
from config import g_key

# Configure gmaps 
gmaps.configure(api_key= g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [42]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Benguela,AO,-12.5763,13.4055,73.33,79,69,4.05,broken clouds
1,1,Caibarien,CU,22.5206,-79.4669,76.32,82,100,8.99,overcast clouds
2,2,Jamestown,US,42.0970,-79.2353,37.02,98,100,13.80,light snow
3,3,Jadu,LY,31.9530,12.0261,58.32,76,0,2.17,clear sky
4,4,Le Port,RE,-20.9373,55.2919,69.76,84,56,1.54,broken clouds
5,5,Camapua,BR,-19.5314,-54.0439,77.40,58,32,5.79,scattered clouds
6,6,Upernavik,GL,72.7868,-56.1549,20.16,84,100,4.25,overcast clouds
7,7,Bredasdorp,ZA,-34.5322,20.0403,59.70,87,94,8.70,overcast clouds
8,8,Bhakkar,PK,31.6253,71.0657,70.41,42,3,7.25,clear sky
9,9,Bay Roberts,CA,47.5999,-53.2648,57.33,94,3,5.73,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [43]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 100

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [44]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)] 
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Caibarien,CU,22.5206,-79.4669,76.32,82,100,8.99,overcast clouds
5,5,Camapua,BR,-19.5314,-54.0439,77.40,58,32,5.79,scattered clouds
17,17,Georgetown,MY,5.4112,100.3354,78.24,86,20,4.61,light rain
19,19,Juruti,BR,-2.1522,-56.0922,81.61,70,95,3.76,overcast clouds
22,22,Filingue,NE,14.3521,3.3168,86.49,18,49,1.72,scattered clouds
25,25,Sinnamary,GF,5.3833,-52.9500,79.00,86,54,9.71,broken clouds
28,28,Trairi,BR,-3.2778,-39.2689,79.18,80,33,14.18,scattered clouds
30,30,Saint George,US,37.1041,-113.5841,86.95,15,0,5.75,clear sky
35,35,Ouallam,NE,14.3188,2.0866,86.18,18,3,4.34,clear sky
37,37,Santa Cruz,BO,-17.8000,-63.1667,80.65,69,40,14.97,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [45]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Caibarien,CU,22.5206,-79.4669,76.32,82,100,8.99,overcast clouds
5,5,Camapua,BR,-19.5314,-54.0439,77.40,58,32,5.79,scattered clouds
17,17,Georgetown,MY,5.4112,100.3354,78.24,86,20,4.61,light rain
19,19,Juruti,BR,-2.1522,-56.0922,81.61,70,95,3.76,overcast clouds
22,22,Filingue,NE,14.3521,3.3168,86.49,18,49,1.72,scattered clouds
25,25,Sinnamary,GF,5.3833,-52.9500,79.00,86,54,9.71,broken clouds
28,28,Trairi,BR,-3.2778,-39.2689,79.18,80,33,14.18,scattered clouds
30,30,Saint George,US,37.1041,-113.5841,86.95,15,0,5.75,clear sky
35,35,Ouallam,NE,14.3188,2.0866,86.18,18,3,4.34,clear sky
37,37,Santa Cruz,BO,-17.8000,-63.1667,80.65,69,40,14.97,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [46]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

            City Country  Max Temp Current Description      Lat       Lng
1      Caibarien      CU     76.32     overcast clouds  22.5206  -79.4669
5        Camapua      BR     77.40    scattered clouds -19.5314  -54.0439
17    Georgetown      MY     78.24          light rain   5.4112  100.3354
19        Juruti      BR     81.61     overcast clouds  -2.1522  -56.0922
22      Filingue      NE     86.49    scattered clouds  14.3521    3.3168
25     Sinnamary      GF     79.00       broken clouds   5.3833  -52.9500
28        Trairi      BR     79.18    scattered clouds  -3.2778  -39.2689
30  Saint George      US     86.95           clear sky  37.1041 -113.5841
35       Ouallam      NE     86.18           clear sky  14.3188    2.0866
37    Santa Cruz      BO     80.65    scattered clouds -17.8000  -63.1667

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [47]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Caibarien,CU,76.32,overcast clouds,22.5206,-79.4669,
5,Camapua,BR,77.40,scattered clouds,-19.5314,-54.0439,
17,Georgetown,MY,78.24,light rain,5.4112,100.3354,
19,Juruti,BR,81.61,overcast clouds,-2.1522,-56.0922,
22,Filingue,NE,86.49,scattered clouds,14.3521,3.3168,
25,Sinnamary,GF,79.00,broken clouds,5.3833,-52.9500,
28,Trairi,BR,79.18,scattered clouds,-3.2778,-39.2689,
30,Saint George,US,86.95,clear sky,37.1041,-113.5841,
35,Ouallam,NE,86.18,clear sky,14.3188,2.0866,
37,Santa Cruz,BO,80.65,scattered clouds,-17.8000,-63.1667,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [50]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [51]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params = params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [52]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Caibarien,CU,76.32,overcast clouds,22.5206,-79.4669,La Nena
5,Camapua,BR,77.40,scattered clouds,-19.5314,-54.0439,Comercial Estrela
17,Georgetown,MY,78.24,light rain,5.4112,100.3354,Cititel Penang
19,Juruti,BR,81.61,overcast clouds,-2.1522,-56.0922,Pousada Marupiara
22,Filingue,NE,86.49,scattered clouds,14.3521,3.3168,Chez Zarkilou Issa
25,Sinnamary,GF,79.00,broken clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
28,Trairi,BR,79.18,scattered clouds,-3.2778,-39.2689,janelas do mar
30,Saint George,US,86.95,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
35,Ouallam,NE,86.18,clear sky,14.3188,2.0866,
37,Santa Cruz,BO,80.65,scattered clouds,-17.8000,-63.1667,Aviador Hotel Boutique

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [53]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.drop(hotel_df[hotel_df["Hotel Name"] == ""].index)

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Caibarien,CU,76.32,overcast clouds,22.5206,-79.4669,La Nena
5,Camapua,BR,77.40,scattered clouds,-19.5314,-54.0439,Comercial Estrela
17,Georgetown,MY,78.24,light rain,5.4112,100.3354,Cititel Penang
19,Juruti,BR,81.61,overcast clouds,-2.1522,-56.0922,Pousada Marupiara
22,Filingue,NE,86.49,scattered clouds,14.3521,3.3168,Chez Zarkilou Issa
25,Sinnamary,GF,79.00,broken clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
28,Trairi,BR,79.18,scattered clouds,-3.2778,-39.2689,janelas do mar
30,Saint George,US,86.95,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
37,Santa Cruz,BO,80.65,scattered clouds,-17.8000,-63.1667,Aviador Hotel Boutique
41,Hithadhoo,MV,80.01,overcast clouds,-0.6000,73.0833,Scoop Guest House

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [54]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [55]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [56]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [57]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>La Nena</dd>\n<dt>City</dt><dd>Caibarien</dd>\n<dt>Country</dt><dd>CU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.32 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Comercial Estrela</dd>\n<dt>City</dt><dd>Camapua</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>light rain and 78.24 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Marupiara</dd>\n<dt>City</dt><dd>Juruti</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.61 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Chez Zarkilou Issa</dd>\n<dt>City</dt><dd>Filingue</dd>\n<dt>Country</dt><dd>NE</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 86.49 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ALETHEIA Appartement Sinnamary</dd>\n<dt>City</dt><dd>Sinnamary</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>broken clouds and 79.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>janelas do mar</dd>\n<dt>City</dt><dd>Trairi</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 79.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Best Western Plus Abbey Inn</dd>\n<dt>City</dt><dd>Saint George</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 86.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aviador Hotel Boutique</dd>\n<dt>City</dt><dd>Santa Cruz</dd>\n<dt>Country</dt><dd>BO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 80.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.01 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [58]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   22.5206  -79.4669
5  -19.5314  -54.0439
17   5.4112  100.3354
19  -2.1522  -56.0922
22  14.3521    3.3168
25   5.3833  -52.9500
28  -3.2778  -39.2689
30  37.1041 -113.5841
37 -17.8000  -63.1667
41  -0.6000   73.0833

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [64]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center = (30.0, 25.0), zoom_level = 2.0)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))